/* 警告框样式 */
blockquote.warning {
    background-color: #610000; /* 红色背景 */
    border-left: 5px solid rgb(229, 70, 56); /* 红色左侧竖线 */
    color: #0b0909; /* 白色文字 */
    padding: 20px; /* 内边距 */
    margin: 20px 0; /* 外边距 */
    border-radius: 5px; /* 边框圆角 */
    line-height: 1.6; /* 行高 */
}

/* 命令框样式 */
blockquote.command {
    background-color: rgb(23, 42, 30); /* 绿色背景 */
    border-left: 5px solid rgb(23, 42, 30); /* 绿色左侧竖线 */
    color: #0b0909; /* 白色文字 */
    padding: 20px; /* 内边距 */
    margin: 20px 0; /* 外边距 */
    border-radius: 5px; /* 边框圆角 */
    line-height: 1.6; /* 行高 */
}

blockquote.command code {
    background-color: #272822; /* 深色代码背景 */
    color: #66d9ef; /* 浅蓝色代码文字 */
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 10px 0;
}
